################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AdventureWorksApi/bin/Debug/netcoreapp1.1
/AdventureWorksApi/obj
/.vs/AdventureWorksApi/v15/.suo
